# Folder archives
_*
_*/

# Folder config file
desktop.ini
*.DS_Store

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows image file caches
thumbs.db
ehthumbs.db

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Wordpress caches
*.log

# Wordpress config file
wp-config.php
